*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, rgb(44, 25, 128),rgb(184, 34, 226));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.hero h1{
    font-size: 60px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.hero h1 span{
    color: rgb(247, 17, 136);
    font-size: 70px;
    
}
textarea{
    width: 600px;
    height: 250px;
    background: #beaaf3;
    color: rgb(50, 45, 45);
    font-size: 20px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 15px;
    color: #514848;
}
.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: rgb(250, 18, 134);
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
select{
    flex: 1;
    color: #403636;
    background: #b8b6f1;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
}